@{
    ViewData["Title"] = "À propos";
}
<h1>@ViewData["Title"]</h1>

<p>Application créée par <a href="https://jojoc4.ch">Jonatan Baumgartner</a> dans le cadre du cours .net à la <href="https://he-arc.ch">HE-Arc</href>.</p>
