@model HESound.Models.SoundPersonViewModel

@{
    ViewData["Title"] = "";
}

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        <div class="row">
            <button class="btn btn-danger col-sm-1" id="stop" disabled="true">Stop</button>
            <label asp-for="PersonId" class="col-sm-1 col-form-label">Personne</label>
            <div class="col-sm-4">
                <select asp-for="PersonId" class="form-control" asp-items="Model.People">
                    <option value="0">Toutes</option>
                </select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>

            <label asp-for="SearchString" class="col-sm-1 col-form-label">Recherche</label>

            <div class="col-sm-4">
                <input asp-for="SearchString" class="form-control">
                <span asp-validation-for="SearchString" class="text-danger"></span>
            </div>

            <input type="submit" value="Filter" class="btn btn-primary col-sm-1">
        </div>
    </p>
</form>

<div class="card-deck">
    @{
        var numCards = 0;
    }
    @foreach (var item in Model.Sounds)
    {
        @if (numCards % 2 == 0)
        {
            <div class="w-100 d-none d-sm-block d-md-none">
                <!-- wrap every 2 on sm-->
            </div>
        }
        @if (numCards % 3 == 0)
        {
            <div class="w-100 d-none d-md-block d-lg-none">
                <!-- wrap every 3 on md-->
            </div>
        }
        @if (numCards % 4 == 0)
        {
            <div class="w-100 d-none d-lg-block d-xl-none">
                <!-- wrap every 4 on lg-->
            </div>
        }
        @if (numCards % 5 == 0)
        {
            <div class="w-100 d-none d-xl-block">
                <!-- wrap every 5 on xl-->
            </div>
        }
        <div class="card mb-4 sound text-center" style="width:200px" soundId="@Html.DisplayFor(modelItem => item.SoundId)">
            <img class="card-img" height="200px" src="/People/File/@Html.DisplayFor(modelItem => item.PersonId)" alt="Image de la personne">
            <div class=".card-img-overlay">
                <span class="card-text">@Html.DisplayFor(modelItem => item.Title)</span>
            </div>
        </div>
        numCards++;
    }
</div>

