@model HESound.Models.Sound

@{
    ViewData["Title"] = "Son - Supression";
}

<h1>Son - Supression</h1>

<h3>Etes-vous sûr de vouloir suprimmer ce son?</h3>
<div>
    <h4>Son</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SoundId" />
        <input type="submit" value="Suprimmer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour</a>
    </form>
</div>
